# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.*.local

# Build
dist/
build/
*.log
npm-debug.log*
yarn-error.log*

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Sistema
*.exe

# Python / Django
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Base de datos local (se genera con migrate)
db.sqlite3
